# Local terraform directory (Plugins)
.terraform/

# State files (Source of Truth)
*.tfstate
*.tfstate.*

# Sensitive variables
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Python cache
__pycache__/
*.py[cod]

# Executables
terraform.exe

# Environment variables
.env